body {
  margin: 0;
  font-family:  'Outfit', sans-serif, 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color: #D7B35B!important;
}

svg.no-color path {
  fill: currentColor;
  stroke: currentColor;
}